/*Base styles*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-family: "Times New Roman",Georgia,Serif;
}
h1 {
	text-align: center;	
	color: #ebff33;
	margin-top: 15px;
	font-size: 1.75em;
}
.title1,.title2,.title3 {
	float: left;
	background-color: #cdcab9;
	position: relative;
	border: 1px solid black;
	margin-left: 2%;
	padding: 10px;
	margin-top: 2%;
}
.title3 {
	margin-right: 2%;
}

section>h2 {
	position: absolute;
	background-color: white;
	top: 0px;
	right: 0px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	color: #6e6e6e;
	width: 30%;
	text-align: center;
	font-size: 1.25em;
}
section>p {
	clear: both;
	margin-top: 25px;
}
#header1 {
	background-color: #a0fb71;
}
#header2 {
	background-color: #58f8ab;
}
#header3 {
	background-color: #12f6e9;
}

/*Large devices only*/
@media(min-width: 992px) {
	.title1,.title2,.title3{
		width: 30.6666%;
	}
}
/*Meduim devices only*/
@media(min-width: 768px) and (max-width: 991px){
	.title1,.title2 {
		width: 47%;
	}
	.title3 {
		width: 96%;
	}
}

/*Small devices only*/
@media(max-width: 767px) {
	.title1,.title2,.title3 {
		width: 96%;
	}
}