* {
	box-sizing: border-box;
}
body {
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
}
.navbar h1 {
	font-size: 1.8em;
	margin-top: 0px;
	padding-bottom: 35px;
	color: #1FDA9A;
}
.navbar a:hover, .navbar a:focus {
	text-decoration: none;
}

#bs-example-navbar-collapse-1 {
	margin-top: 50px;
	text-align: center;
}
#object div {
	background-color: #1FDA9A;
	margin-bottom: 15px;
	color: white;
}
#object div div {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}
#objext {
	text-align: center;
}
#main-content h2 {
	text-shadow: 1px 1px 1px #EE4B3E;
}
#nav-list a:hover,a:focus {
	color: white;
}
#bs-example-navbar-collapse-1 {
	background-color: #1FDA9A;
	color: white;
}
@media (max-width: 767px) {
    .col-xs-12 {
        width: 90%;
        margin: auto 5%;
    }
}

